:focus {
  outline: thick dotted;
}

:any-link:hover { 
  text-decoration-style: double;
}

* { box-sizing: border-box }
a { touch-action: manipulation }

html {
  font-family: sans-serif;
  font-size: max(20px, 2vw + 1vh + 1pt);
  line-height: 1.618;
}

body {
  margin: 0;
  overflow-wrap: anywhere;
  padding: 1.618em;
}

h1 {
  font-size: 1.618em;
  margin: 0;
}

main {
  contain: layout;
  display: flow-root;
}

em,
b {
  font: unset;
  font-size: 1.236em;
}

p {
  contain: layout;
  margin-block: 1em;
}

kbd {
  all: unset;
  display: inline-block;
  font-size: 2em;
  margin-block: 2em;
  padding-block: 1em;
  padding-inline: 2em;
  text-indent: 1em;
}
